@import '~@blueprintjs/colors/src/colors';

$cell-padding-y: 3px;
$cell-padding-x: 5px;
$table-bg: $dark-gray3;
$table-header-bg: $dark-gray4;
$table-border-color: $dark-gray1;
$table-border-color-light: #e7e7e7;
$table-hover-bg: #38465f;

// .wrapper {
//   @apply overflow-hidden relative h-full;
// }

// .tableContainerDark {
//   @apply flex w-full flex-col relative h-fit;
// }

// .tableContainerLight {
//   composes: tableContainerDark;
//   background-color: #fff;
// }

// .tableWrapperDark {
//   @apply w-full overflow-auto;
//   background-color: $dark-gray3;
// }

// .tableWrapperLight {
//   composes: tableWrapperDark;
//   background-color: #e5e7eb;
// }

// .gearIconContainer {
//   @apply cursor-pointer h-fit self-end;

//   padding: 3px 6px 0;
//   border-radius: 2px;

//   &:hover {
//     background-color: rgba(143, 153, 168, 0.15);
//   }
// }

// .gearIcon {
//   @apply cursor-pointer;
//   color: $gray4;
//   font-size: 20px;
// }

// .tableDark {
//   @apply border border-collapse border-spacing-0 h-full;
//   font-family: 'Open Sans', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Helvetica Neue',
//     'blueprint-icons-16', sans-serif;
//   background-color: $table-bg;
//   width: max-content;
//   font-size: 12px;

//   th,
//   td {
//     padding: 0;
//   }

//   .thead {
//     @apply text-center sticky top-0 z-20;

//     &::-webkit-scrollbar {
//       @apply hidden;
//     }
//   }

//   .tbody {
//     &:last-child {
//       border-right: 1px solid $dark-gray2;
//       border-bottom: 1px solid $dark-gray2;
//     }
//   }

//   .tableHeaderCell {
//     @apply text-left whitespace-nowrap;
//     background-color: $table-header-bg;

//     > div {
//       padding: $cell-padding-y $cell-padding-x;
//       @apply w-full flex align-middle items-center gap-1 cursor-pointer;
//       border: 1px solid $table-border-color;
//       border-right-color: $table-header-bg;
//       border-bottom-color: $table-header-bg;
//     }

//     &:last-child > div {
//       border-right-color: $dark-gray2;
//     }
//   }

//   .tableCell {
//     @apply text-right whitespace-nowrap;

//     > div {
//       padding: $cell-padding-y $cell-padding-x;
//       border: 1px solid $table-border-color;
//       border-right-color: $table-bg;
//       border-bottom-color: $table-bg;
//     }
//   }

//   .tr {
//     &:hover {
//       background-color: $table-hover-bg;

//       & > .tableCell {
//         background-color: $table-hover-bg;
//         > div {
//           border-right-color: $table-hover-bg;
//           border-bottom-color: $table-hover-bg;
//         }
//       }
//     }
//   }

//   .stickyCell {
//     background-color: $dark-gray4;
//     > div {
//       border-right-color: $dark-gray4;
//       border-bottom-color: $dark-gray4;
//     }
//   }

//   .statCellSelectable {
//     @apply cursor-pointer font-semibold;
//     color: $blue5;

//     &:hover {
//       color: $blue4;
//     }
//   }

//   .statCellaSelected {
//     > div {
//       background-color: rgba($blue4, 0.1);
//       border-color: $blue4 !important;
//     }
//   }

//   .statCellReadonly {
//     color: $gray3;
//   }

//   .stickyCell {
//     @apply sticky text-left z-10;
//     color: $white;
//   }

//   .tableRowGroup {
//     background-color: $dark-gray3;
//     color: $gold4;
//     border: 1px solid $dark-gray2;
//     border-bottom: none;
//     border-left: none;
//   }

//   .tableRowGroupStickyCell {
//     @apply sticky left-0;
//     > div {
//       border-color: transparent;
//       border-left-color: $dark-gray1;
//     }
//   }

//   .sortIcon {
//     color: $gray4;
//   }

//   .sortIconSorted {
//     color: $gold4;
//   }
// }

// .tableLight {
//   composes: tableDark;
//   background-color: #fff;
//   color: #000;

//   .tbody {
//     &:last-child {
//       border-right: 1px solid $table-border-color-light;
//       border-bottom: 1px solid $table-border-color-light;
//     }
//   }

//   .tableHeaderCell {
//     @apply text-left whitespace-nowrap;
//     background-color: #fff;

//     > div {
//       padding: $cell-padding-y $cell-padding-x;
//       @apply w-full flex align-middle items-center gap-1 cursor-pointer;
//       border: 1px solid $table-border-color-light;
//       border-right-color: #fff;
//       border-bottom-color: #fff;
//     }

//     &:last-child > div {
//       border-right-color: $table-border-color-light;
//     }
//   }

//   .tr {
//     &:hover {
//       background-color: #dfe8fa;

//       & > .tableCell {
//         background-color: #dfe8fa;
//         > div {
//           border-right-color: $table-border-color-light;
//           border-bottom-color: $table-border-color-light;
//         }
//       }
//     }
//   }

//   .tableCell {
//     @apply text-right whitespace-nowrap;

//     > div {
//       padding: $cell-padding-y $cell-padding-x;
//       border: 1px solid $table-border-color-light;
//       border-right-color: #fff;
//       border-bottom-color: #fff;
//     }
//   }

//   .stickyCell {
//     background-color: $light-gray4;
//     color: #000;

//     > div {
//       border-right-color: $light-gray4;
//       border-bottom-color: $light-gray4;
//     }
//   }

//   .tableRowGroup {
//     background-color: #fff;
//     color: $orange3;
//     border: 1px solid $table-border-color-light;
//     border-bottom: none;
//     border-left: none;
//   }

//   .tableRowGroupStickyCell {
//     @apply sticky left-0;
//     > div {
//       border-color: transparent;
//       border-left-color: $table-border-color-light;
//     }
//   }

//   .statCellSelectable {
//     @apply cursor-pointer font-semibold;
//     color: #5299ed;

//     &:hover {
//       color: $blue3;
//     }
//   }

//   .statCellReadonly {
//     color: $gray1;
//   }

//   .sortIcon {
//     color: black;
//   }

//   .sortIconSorted {
//     color: $orange3;
//   }
// }

// .loaderDark {
//   @apply absolute left-0 right-0 bottom-0 z-10 flex justify-center items-center;
//   background-color: rgba(17, 20, 24, 0.7);
//   top: 60px;
// }

// .loaderLight {
//   composes: loaderDark;
//   background-color: rgba(#e5e7eb, 0.7);
// }
